@using CopyNPaste.ViewModels
@model PasswordCheckViewModel
@{
    var error = ViewBag.Error;
}

<div class="container">
    <form asp-action="CheckPassword" method="post">
        <input type="hidden" asp-for="Id" />
        @if (!string.IsNullOrEmpty(error))
        {
            <span class="error">
            @error
            </span>
        }

        <div class="form form-mid">
            <div class="form-block">
                <div class="sub-mid">
                    <input asp-for="Password" placeholder="הזן סיסמה" />
                </div>
            </div>
            <div class="button-container">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
    
</div>
